<div class="box">
    <!-- form start -->
    <div class="box-body">
        <div class="form-group">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/', AppURL.Auth, AuthURL.RequestList]" class="active">
                        <i class="fa fa-circle-o text-red"></i> <span>รายการกู้ยืม</span>
                    </a>
                </li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i>
                        <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i>
                        <span>Information</span></a></li>
            </ul>
        </div>

    </div>
    <!-- /.box-body -->
</div>