<div class="wrapper">
    <app-auth-navbar [userLogin]="userLogin"></app-auth-navbar>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        <app-auth-sidebar></app-auth-sidebar>
                    </div>
                    <div class="col-md-9">
                        <ng-content></ng-content>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>