/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

/* regular style toast  */
@import '~ngx-toastr/toastr';

.wrapper {
    background-color: #ecf0f5 !important;
}

.ng-select.custom {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom .ng-select-container {
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container {
    min-height: 0px;
    border-radius: 0;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.form-control.ng-invalid.ng-dirty,
.form-control.ng-invalid.ng-touched {
    border-color: #dd4b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.ng-invalid.ng-dirty~.invalid-feedback,
.form-control.ng-invalid.ng-touched~.invalid-feedback {
    display: block;
}

ng-select.ng-invalid.ng-dirty~.invalid-feedback,
ng-select.ng-invalid.ng-touched~.invalid-feedback {
    display: block;
}